In [3]:
import pandas as pd
from pathlib import Path

In [4]:
# set path to data file
notebook_dir = Path.cwd()
mover_file = notebook_dir / 'data' / 'SPX_index leavers & joiners_11-Nov-2025.xlsx'
prices_file = notebook_dir / 'data' / 'Daily_Prices.csv'

In [5]:
prices = pd.read_csv(prices_file, parse_dates=['Date'])

In [6]:
prices['Date'] = pd.to_datetime(prices['Date'], format='%Y-%m-%d')
prices = prices[prices['Date'] >= '1995-01-01']
prices.set_index(['Date'], inplace=True)
prices

,A.N,AA.N,AABA.OQ^J19,AAL.N^B97,AAL.OQ,AAP.N,AAPL.OQ,ABBV.N,ABI.N^K08,ABK.N^K10,...,YNR.N^J00,YUM.N,YUMC.N,ZBH.N,ZBRA.OQ,ZE.N^E98,ZIMV.OQ^J25,ZION.OQ,ZRN.N^F98,ZTS.N
Date,,,,,,,,,,,,,,,,,,,,,
1995-01-03,NaN,NaN,NaN,19.125,NaN,NaN,0.342634,NaN,6.56250,12.166667,...,NaN,NaN,NaN,NaN,8.333337,11.750,NaN,9.062500,18.125,NaN
1995-01-04,NaN,NaN,NaN,19.000,NaN,NaN,0.351562,NaN,6.46875,12.333333,...,NaN,NaN,NaN,NaN,8.222226,11.375,NaN,8.890625,18.000,NaN
1995-01-05,NaN,NaN,NaN,18.625,NaN,NaN,0.347098,NaN,6.53125,12.333333,...,NaN,NaN,NaN,NaN,8.222226,11.000,NaN,8.968750,18.375,NaN
1995-01-06,NaN,NaN,NaN,18.750,NaN,NaN,0.375000,NaN,6.46875,12.250000,...,NaN,NaN,NaN,NaN,8.222226,10.875,NaN,8.968750,18.625,NaN
1995-01-09,NaN,NaN,NaN,18.750,NaN,NaN,0.367885,NaN,6.53125,12.333333,...,NaN,NaN,NaN,NaN,8.305559,10.750,NaN,9.062500,19.125,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,136.10,38.61,NaN,NaN,17.35,43.73,258.200000,180.00,NaN,NaN,...,NaN,135.00,50.42,107.30,395.440000,NaN,13.85,54.970000,NaN,164.70
2024-12-26,135.83,38.35,NaN,NaN,17.35,44.24,259.020000,179.20,NaN,NaN,...,NaN,136.00,49.79,107.25,396.850000,NaN,14.11,55.350000,NaN,165.52
2024-12-27,135.54,37.68,NaN,NaN,17.35,44.06,255.590000,178.01,NaN,NaN,...,NaN,135.23,49.10,106.87,389.070000,NaN,14.04,54.680000,NaN,164.60
2024-12-30,134.42,37.15,NaN,NaN,17.62,46.05,252.200000,176.20,NaN,NaN,...,NaN,133.52,47.99,105.40,383.850000,NaN,13.91,54.320000,NaN,162.24
2024-12-31,134.34,37.78,NaN,NaN,17.43,47.29,250.420000,177.70,NaN,NaN,...,NaN,134.16,48.17,105.63,386.220000,NaN,13.95,54.250000,NaN,162.93

In [7]:
movers = pd.read_excel(mover_file, header=None)
movers.columns = ['Status', 'Issuer', 'Code', 'Date']
display(movers.head())

   Status            Issuer      Code       Date
0  Leaver  Eastman Chemical    EMN.N  2025-11-04
1  Joiner  Qnity Electronic      Q.N  2025-11-03
2  Leaver            Carmax    KMX.N  2025-10-31
3  Joiner  Solstice Advance  SOLS.OQ  2025-10-30
4  Joiner          Applovin   APP.OQ  2025-09-22

In [8]:
movers['Date'] = pd.to_datetime(movers['Date'])
movers.sort_values(by='Date', inplace=True)
display(movers.head(5))

      Status            Issuer                 Code       Date
2110  Joiner          eSystems  ESY.N^E95 (expired) 1994-12-30
1780  Joiner            Ecolab               ECL.N  1994-12-30
1781  Joiner       Edison Intl               EIX.N  1994-12-30
1782  Joiner       El Paso CGP  CGP.N^A01 (expired) 1994-12-30
1783  Joiner  Emerson Electric               EMR.N  1994-12-30

In [9]:
unique_codes = movers['Code'].unique()
unique_codes = [t.replace("(expired)", "").strip() for t in unique_codes]

In [10]:
december_1994_data = movers[movers['Date'].dt.to_period('M') == '1994-12']
current_sp500_composition = set(december_1994_data['Code'])
print(f"Size of the initial S&P 500 composition set: {len(current_sp500_composition)}")

Size of the initial S&P 500 composition set: 482

In [11]:
sp500_composition_over_time = {}

for index, row in movers.iterrows():
    date = row['Date']
    status = row['Status']
    code = row['Code']
    code = code.replace("(expired)", "").strip()
    if code == 'EVHC.N^L16':
        print(date, status, code)

    if status == 'Joiner':
        current_sp500_composition.add(code)
    elif status == 'Leaver':
        try:
            current_sp500_composition.remove(code)
        except KeyError:
            print(f"Warning: Tried to remove {code} on {date}, but it was not in the current composition.")

    # Optionally store the composition at this date
    sp500_composition_over_time[date] = set(current_sp500_composition)

print(f"Number of dates with composition changes recorded: {len(sp500_composition_over_time)}")

Number of dates with composition changes recorded: 740

In [12]:
all_codes = sorted(list(unique_codes))
# Generate all months from the first date in the data to the last date
start_month = movers['Date'].min().to_period('M')
end_month = movers['Date'].max().to_period('M')
all_months = pd.period_range(start=start_month, end=end_month, freq='M').tolist()

current_composition = set(december_1994_data['Code']) # Initialize with the December 1994 composition

# Iterate through all months and find the latest composition for each
monthly_sp500_composition = {}
dates_with_composition = sorted(sp500_composition_over_time.keys())

for month in all_months:
    latest_date_in_month = None
    # Find the latest date in sp500_composition_over_time that is in the current month
    for date in reversed(dates_with_composition): # Iterate in reverse to find the latest date quickly
        if date.to_period('M') == month:
            latest_date_in_month = date
            break

    # If a date with composition is found in the month, use its composition
    if latest_date_in_month is not None:
        monthly_sp500_composition[month] = sp500_composition_over_time[latest_date_in_month]
    else:
        # If no date with composition change in the current month,
        # use the composition from the previous month's last recorded change.
        # This assumes the composition remains unchanged unless a joiner/leaver occurs.
        previous_month_composition = None
        for date in reversed(dates_with_composition):
             if date < month.start_time:
                previous_month_composition = sp500_composition_over_time[date]
                break
        if previous_month_composition is not None:
             monthly_sp500_composition[month] = previous_month_composition
        else:
            # This case should ideally not happen if the data starts in Dec 1994
            # but as a fallback, use the initial composition
             monthly_sp500_composition[month] = set(december_1994_data['Code'])

In [13]:
data = []
for month in all_months:
    month_data = {'Month': month.to_timestamp()}
    current_month_composition = monthly_sp500_composition.get(month, set())
    for code in all_codes:
        month_data[code] = 1 if code in current_month_composition else 0
    data.append(month_data)

sp500_composition_df = pd.DataFrame(data)
sp500_composition_df.set_index('Month', inplace=True)
display(sp500_composition_df.head())

,A.N,AA.N,AABA.OQ^J19,AAL.N^B97,AAL.OQ,AAP.N,AAPL.OQ,ABBV.N,ABI.N^K08,ABK.N^K10,...,YNR.N^J00,YUM.N,YUMC.N,ZBH.N,ZBRA.OQ,ZE.N^E98,ZIMV.OQ^J25,ZION.OQ,ZRN.N^F98,ZTS.N
Month,,,,,,,,,,,,,,,,,,,,,
1994-12-01,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1995-01-01,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1995-02-01,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1995-03-01,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1995-04-01,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0

Check which stocks are part of the index at the end of the training period. These stocks will be considered for training and testing. We get all available return data for these stocks in the 4 years of the study period (also if they later joined S&P500, we get their price data for the whole training period). Also, if companies leave S&P500, we still use them in the test set as long as we have price data available.

In [14]:
# i = 0
study_periods_folder = notebook_dir / 'data' / 'study_periods_expanding'
# for year in range(1997, 2024):
#     i += 1
#     study_period_series = []  # Collect series here
#     closest_date = sp500_composition_df.index.get_indexer([pd.Timestamp(f'{year}-12-01')], method='nearest')[0]
#     study_period_stocks = sp500_composition_df.iloc[closest_date]
#     # only keep 1s
#     study_period_stocks = study_period_stocks[study_period_stocks == 1] 
#     study_period_stocks = study_period_stocks.index.tolist()
#     # get prices for each constituent for the last 3 years and current year
#     for stock in study_period_stocks:
#         try:
#             stock_prices = prices[stock][f'{year-i-1}-01-01':f'{year+1}-12-31']
#             study_period_series.append(stock_prices.rename(stock))  # Rename to stock ticker
#         except KeyError:
#             print(f"Warning: Price data for {stock} not found for study period starting {year-2}.")
#     # Concat all series at once
#     study_period = pd.concat(study_period_series, axis=1)
#     study_period.to_csv(study_periods_folder / f'test_{year+1}.csv')

# print(f"Generated {i} study periods.")

In [15]:
# # Create one big CSV file with all S&P 500 stocks across all years
# all_sp500_stocks = set()

# # Collect all unique stocks that were in S&P 500 during the study period
# for year in range(1996, 2024):
#     closest_date = sp500_composition_df.index.get_indexer([pd.Timestamp(f'{year}-12-01')], method='nearest')[0]
#     study_period_stocks = sp500_composition_df.iloc[closest_date]
#     study_period_stocks = study_period_stocks[study_period_stocks == 1]
#     all_sp500_stocks.update(study_period_stocks.index.tolist())

# print(f"Total unique S&P 500 stocks across all years: {len(all_sp500_stocks)}")

# # Get prices for all these stocks from 1995 to 2024
# combined_series = []
# for stock in all_sp500_stocks:
#     try:
#         stock_prices = prices[stock]['1995-01-01':'2024-12-31']
#         if not stock_prices.empty:
#             combined_series.append(stock_prices.rename(stock))
#     except KeyError:
#         print(f"Warning: Price data for {stock} not found.")

# # Combine all stock prices into one DataFrame
# all_sp500_prices = pd.concat(combined_series, axis=1)
# output_file = notebook_dir / 'data' / 'all_sp500_prices.csv'
# all_sp500_prices.to_csv(output_file)
# print(f"Saved combined S&P 500 prices to {output_file}")
# print(f"Shape: {all_sp500_prices.shape}")

### Save returns with next script

In [19]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

returns_folder = notebook_dir / 'data' / 'returns_per_period'

def get_returns_for_date(returns_df, target_date):
    target_date = pd.to_datetime(target_date)
    if target_date not in returns_df.index:
        raise ValueError(f"No data available for the date: {target_date}")
    else:
        return returns_df.loc[target_date]

for year in range(1998, 2025):
    data = pd.read_csv(study_periods_folder / f'test_{year}.csv')
    data['Date'] = pd.to_datetime(data['Date'])
    #data.set_index('Date', inplace=True)

    missing_value_stocks = data.columns[data.isna().sum(axis=0) > 0]
    for stock in missing_value_stocks:
        if data[stock].isna().sum() == len(data):
            data.drop(columns=stock, inplace=True)

    returns_data = data.drop(columns='Date').pct_change(fill_method=None)
    returns_data['Date'] = data['Date']
    returns_data = returns_data[1:]
    returns_data.to_csv(returns_folder / 'stats' / f'returns_{year}.csv', index=False)
    continue

    ### Standardize return data
    start_date = returns_data.index.min().year
    end_date = start_date + 2
    start_date = f'{start_date}-01-01'
    end_date = f'{end_date}-12-31'
    # Only use returns from training period to compute mean and std
    returns_3years = returns_data[f'{start_date}':f'{end_date}']
    mean_return = returns_3years.mean().mean()
    mean_volatility = returns_3years.std().mean()
    returns_data = (returns_data - mean_return) / mean_volatility

    stacked_returns = returns_data.T.stack().reset_index()
    stacked_returns.columns = ['stock', 'date', 'return']

    window = 60

    sequences = []
    for stock, group in stacked_returns.groupby('stock'):
        group = group.sort_values('date')
        vals = group['return'].values
        for i in range(window, len(vals)):
            seq = vals[i-window:i]
            sequences.append({
                'stock': stock,
                'date': group['date'].iloc[i],
                'return': vals[i],
                'sequence': seq
            })

    sequences_df = pd.DataFrame(sequences)

    end = (datetime.strptime(end_date, '%Y-%m-%d') + relativedelta(years=1)).strftime('%Y-%m-%d')

    valid_days = returns_data.loc[
        (returns_data.index >= start_date) & 
        (returns_data.index <= end)
    ].index

    sequences_df['Class0'] = 0
    sequences_df['Class1'] = 0

    for date in valid_days:
        current = date.strftime('%Y-%m-%d')
        returns_on_date = get_returns_for_date(returns_data, current)
        median_return = returns_on_date.median()

        below_median = returns_on_date[returns_on_date < median_return].index
        above_median = returns_on_date[returns_on_date >= median_return].index

        mask = sequences_df['date'] == current

        sequences_df.loc[
            mask & sequences_df['stock'].isin(below_median),
            'Class0'
        ] = 1

        sequences_df.loc[
            mask & sequences_df['stock'].isin(above_median),
            'Class1'
        ] = 1

    sequences_df.to_parquet(returns_folder / 'lag_60' / f'returns_{year}.parquet', engine='pyarrow', index=False)
    print(f"Saved returns_{year}.parquet with {len(sequences_df)} sequences.")